{% extends 'base.html' %} {% block content %}
<br />
<form class="row g-3" action="{% url 'add-money' %}" method="POST">
  {% csrf_token %}
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Cash Name</label>
    <input type="text" class="form-control" id="inputEmail4" name="cashName" />
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Cash Type</label>
    <input type="text" class="form-control" id="inputEmail4" name="cashType" />
    {% comment %}
    <select
      class="form-select"
      aria-label="Default select example"
      name="caseType"
    >
      <option selected>Open this to select</option>
      <option value="Certificate Deposit">Certificate Deposit</option>
      <option value="T Bills">T Bills</option>
      <option value="I Bonds">I Bonds</option>
      <option value="Savings Account">Savings Account</option>
    </select>
    {% endcomment %}
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Cah Amount</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="Enter Amount"
      name="cashAmount"
    />
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Cash Rate</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress2"
      placeholder="Enter the Rate"
      name="cashRate"
    />
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Start Date</label>
    <input
      type="date"
      class="form-control"
      id="inputCity"
      name="cashStartDate"
    />
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Maturity Date</label>
    <input
      type="date"
      class="form-control"
      id="maturitydate"
      name="cashMaturityDate"
    />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Enter Cash</button>
  </div>
</form>

<br />
{% endblock %}
